body {
  background-color: #393439;
}

.top-section {
  margin-top: 3rem;
  color: white;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.box {
  background-color: transparent;
  display: flex;
  align-items: center;
  margin: 10px;
  width: 200px;
  height: 65px;
  border-radius: 5px;
  background-blend-mode: screen;
}

.box img {
  max-width: 60px;
}

.box_title {
  margin-left: 5px;
  font-weight: 500;
  color: whitesmoke;
  overflow: hidden;
}

.bottom {
  position: sticky;
  bottom: 0;
  height: 130px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons {
  margin-top: 14px;
}

.icons i {
  cursor: pointer;
}

#myProgressBar {
  width: 80vw;
  cursor: pointer;
}

.lessThan,
.greaterThan {
  background-color: black;
  border-radius: 15px;
  padding: 12px;
}

:hover .lessThan {
  background: transparent;
}

:hover .greaterThan {
  background: transparent;
}

@import url("http://fonts.cdnfonts.com/css/gotham");

@import url("http://fonts.cdnfonts.com/css/gotham");
/* font-family: 'Gotham', sans-serif;
font-family: 'Gotham Black', sans-serif;
font-family: 'Gotham Light', sans-serif;
font-family: 'Gotham Thin', sans-serif;
font-family: 'Gotham XLight', sans-serif;
font-family: 'Gotham Book', sans-serif;
font-family: 'Gotham Ultra', sans-serif; */

body {
  margin: 0;
  position: relative;
  max-width: 100vw;

  display: flex;
  flex-direction: column;
  background: rgb(46, 44, 44);
  background: linear-gradient(
    0deg,
    rgba(46, 44, 44, 1) 1%,
    rgba(121, 9, 41, 1) 87%
  );
  color: white;
  display: flex;
  flex-direction: column;
  background: rgb(46, 44, 44);
  background: linear-gradient(
    0deg,
    rgba(46, 44, 44, 1) 1%,
    rgba(121, 9, 41, 1) 87%
  );
  color: #ececec;
}

/* /* Sefa CSS Starting From Here */

.container {
  height: 100%;
}

.top-section {
  margin-top: 3rem;
  margin-left: 80px;
}

.top-section h1 {
  margin-left: 20px;
}

.boxs-morning {
  margin-left: 70px;
  flex-wrap: nowrap;
  padding-left: 10px;
}

.box {
  background-color: rgba(10, 10, 10, 0.486);
  display: flex;
  padding-right: 10px;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 5px;
  min-width: 230px;
  height: 65px;
  border-radius: 5px;
  background-blend-mode: screen;
}

.box img {
  max-width: 60px;
}

.box_title {
  margin-left: 10px;
  font-weight: 500;
  overflow: hidden;
}

.bottom {
  position: sticky;
  bottom: 0;
  min-height: 70px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  margin-top: 14px;
}

.icons i {
  cursor: pointer;
}

#myProgressBar {
  width: 60vw;
  cursor: pointer;
}

.lessThan,
.greaterThan {
  border-radius: 15px;
  padding: 8px;
  transition-duration: 0.2s;
}

.lessThan:hover {
  -moz-box-shadow: 1px 1px 1px rgba(10, 10, 10, 0.486);
  -webkit-box-shadow: 1px 1px 1px rgba(10, 10, 10, 0.486);
  box-shadow: 1px 1px 1px rgba(10, 10, 10, 0.486);
  cursor: pointer;
}

.greaterThan:hover {
  -moz-box-shadow: 1px 1px 1px rgba(10, 10, 10, 0.486);
  -webkit-box-shadow: 1px 1px 1px rgba(10, 10, 10, 0.486);
  box-shadow: 1px 1px 1px rgba(10, 10, 10, 0.486);
  cursor: pointer;
}

.gif {
  position: fixed;
  left: 0;
  vertical-align: sub;
}

#previous,
#next {
  padding: 15px;
  align-items: center;
}

#masterPlay {
  padding: 10px;
  justify-content: center;
  vertical-align: middle;
}

.songInfo {
  justify-content: left;
  left: 0;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin-top: 5px;
}
.card__container {
  box-sizing: border-box;
  padding-left: 20%;
  padding-right: 20%;
}

.card__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-left: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.card {
  width: 12%; /* we want 8 cards => 100/ 8 = 12.5%, but we also want some space between them */
  min-width: 150px;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(20, 19, 19, 0.842);
  color: white;
}
.card .card__body .card__meta {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.headline__container {
  box-sizing: border-box;
  padding-left: 20%;
  padding-right: 20%;
}

.headline__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-left: 10px;
}

body {
  margin: 0;
  position: relative;
  max-width: 100vw;

  display: flex;
  flex-direction: column;
  background: rgb(46, 44, 44);
  background: linear-gradient(
    0deg,
    rgba(46, 44, 44, 1) 1%,
    rgba(121, 9, 41, 1) 87%
  );
}

#myProgressBar {
  width: 50vw;
}

/* Sefa CSS ends Here */

.card__container {
  box-sizing: border-box;
  padding-left: 18%;
  padding-right: 20%;
}

.card__section .row {
  flex-wrap: nowrap;
}

.card__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-left: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 600;
}

.card {
  /* width: 12%; we want 8 cards => 100/ 8 = 12.5%, but we also want some space between them */
  min-width: 140px;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(20, 19, 19, 0.842);
  margin-right: 13px;
}

.card .card__body .card__meta {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.headline__container {
  box-sizing: border-box;
  padding-left: 20%;
  padding-right: 20%;
}

.headline__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-left: 10px;
}

/* SANAZ CSS */

#navbar {
  display: inline-block;
  width: 240px;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 3px;
  height: 100vh;
  color: #f0f0f0;
  padding: 10px;
  overflow: hidden;
}

#navbar a {
  text-decoration: none;
  margin-left: 8px;
}

.links-nav {
  margin-top: 5px;
  font-family: "Gotham", sans-serif;
  font-weight: 700;
  color: #f0f0f0;
  opacity: 0.7;
}

.links-nav:hover {
  opacity: 1;
}

#logo {
  margin-bottom: 20px;
}

#navbar p {
  display: inline-block;
  color: #f0f0f0;
  text-align: center;
  margin-top: 1px;
  margin-left: 7px;
}

.links-nav p {
  font-size: 14px;
}

#yourLibrary {
  margin-bottom: 20px;
}

.links-small-nav {
  font-weight: 600;
  opacity: 0.7;
  margin-left: 0;
}

.links-small-nav p {
  font-size: 14px;
}

.links-small-nav:hover {
  opacity: 1;
}

hr {
  background-color: #6c757d70;
}

.scrollbar-black::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #000;
}

.scrollbar-black {
  scrollbar-color: #000 #f5f5f5;
}
/* END SANAZ CSS */
